<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesBaseSuAdmin.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <title>Base S.A</title>
</head>

<body class="cabeza">
    <header >
        <div class="header">
            <div class="img">
                <img src="{% static 'img/Copia de LOGO SSIH.svg' %}" alt="logo sena">
            </div>
            <span class="material-icons-sharp" id="hambur">
                menu
            </span>
            <div class="usuario">
                
                <div>   
                    <p>Usuario</p>
                    <p>Super Administrado</p>
                </div>  
                <img src="{% static 'img/usuario.png' %}" alt="Usuario">
            </div>
            

        </div>
    </header>

    <section  class="contenedor">
        <aside class="aside" id="aside">
            <div class="contenedor-barra-lateral">
                <div class="barra-lateral">
                    
                    <a href="" class="logos">
                        <span class="material-icons-sharp" id="hambur">
                            menu
                        </span>
                        <img src="{% static 'img/logo-sena-verde-svg-2022.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            home
                        </span>
                        Home
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            person
                        </span>
                        Usuario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            inventory
                        </span>
                        Inventario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            category
                        </span>
                        Elementos
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            calendar_month
                        </span>
                        Calendario
                    </a>
                    <a href="#">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Salir</h3>
                    </a>
                </div>
            </div>
        </aside>  

        <!-- Cotenido principal -->
        {% block content %}

        {% endblock %}
       
        <!-- fin Cotenido principal -->

    </section>

    <script src="{% static 'js/scriptBaseSuAdmin.js' %}"></script>

</body>
</html>