{% extends '../superAdmin/basesuadmin.html' %}

{% load static %}
{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesFormElem.css' %}">
    <title>Formulario Registro Usuarios</title>
    
</head>

    <section class="section">
        
        <!-- Inicio del Forumlario-->
    
           
        <div class="signupFrm">
            <form action="" class="form">
              <h1 class="title">Crear Elemento</h1>
    
            <div class="container-1">
                <div class="fechaContainer">
                    <input type="date" class="inputform" placeholder="fecha" name="fechaElemento" required>
                    <label for="fechaElemento" class="labelform">Fecha</label>
                </div>
                <div class="inputContainer">
                    <input type="text" class="inputform" placeholder="Nombre" name="nombreElemento" required>
                    <label for="nombreElemento" class="labelform">Nombre</label>
                </div>
                <div class="selectContainer">                   
                    <label for="categoriaElemento" class="labelformselect">Categoria</label>
                    <div>
                    <select class="selector" name="categoriaElemento" id="categoriaElemento">
                    <option value="D">Devolutivo</option>
                    <option value="C">Consumible</option>
                    
                    </select>
                    </div>
                </div>
                <div class="selectContainer">                   
                    <label for="estadoElemento" class="labelformselect">Estado</label>
                    <div>
                    <select class="selector" name="estadoElemento" id="estadoElemento">
                    <option value="A">Activo</option>
                    <option value="G">Garantia</option>
                    <option value="B">Baja</option>
                    </select>
                    </div>
                </div>
                <div class="selectContainer">                   
                    <input type="number" class="inputcantidad" name="cantidadElemento" id="cantidadElemento">
                    <label for="cantidadElemento"  class="labelcantidad">Cantidad</label>                                
                </div>
                <div class="inputContainervalor">                   
                    <input type="text" class="inputformvalor" placeholder="a" name="valorUnidadElemento" id="valorUnidad">
                    <label for="valorUnidadElemento"  class="labelformvalor">Valor Unidad</label>                                
                </div>
            </div>
            <div class="container-1">
                <div class="inputContainer">
                    <input type="text" class="inputform" placeholder="a" name="serialSenaElemento" required>
                    <label for="serialSenaElemento" class="labelform">Serial Sena ####</label>
                </div>
                <div class="inputContainer">
                    <input type="text" class="inputform" placeholder="a" name="descripcionElemento" required>
                    <label for="descripcionElemento" class="labelform">Descripción</label>
                </div>
                <div class="inputContainer">
                    <input type="text" class="inputform" placeholder="a" name="observacionElemento" required>
                    <label for="observacionElemento" class="labelform">Observaciones</label>
                </div>
                <div class="selectorimagen">
                    <input type="file" accept="image/*" class="inputsubirfoto" name="facturaElemento">
                    <label for="facturaElemento" class="labelsubirfoto">Adjuntar Soporte</label>
    
                </div>   
            </div>
                <div class="container-1">
                <div class="container-botones">
                    <button type="submit" class="submitBtn" >GUARDAR</button>
                    <button type="" class="submitBtn" >CANCELAR</button>
                
                </div>
                </div>
            </form>
        </div>  
        </section> 
        
{% endblock %}