{% extends "../superAdmin/basesuadmin.html" %}

{% load static %}

{% block content %}
<head>
    
    <link rel="stylesheet" href="{% static 'css/superAdmin/styleFormPrestamos.css' %}">
    <title>Formulario Prestamos</title>
    
</head>

<section class="section">
        
    <!-- Inicio del Forumlario-->

       
    <div class="signupFrm">
            <form action="/formPrestamos/" class="form" method="post">
            <h1 class="title">Crear Prestamo</h1>

            {% csrf_token %}

            <div class="container-1">
                <div class="fechaContainer">
                    <input type="date" class="inputform" placeholder="fechaentrega" name="fechaEntrega" required>
                    <label for="fechaEntrega" class="labelform">Fecha Entrega</label>
                </div>
                <div class="fechaContainer">
                    <input type="date" class="inputform" placeholder="fechadevolucion" name="fechaDevolucion" required>
                    <label for="fechaDevolucion" class="labelform">Fecha Devoluc</label>
                </div>
            <div class="inputContainer">
                <input type="text" class="inputform" placeholder="serialSenaElemento" name="serialSenaElemento" required>
                <label for="" class="labelform">Serial Elemento</label>
            </div>
            
        </div>
        <div class="container-1">
            <div class="inputContainer">
                <input type="text" class="inputform" placeholder="nombre" name="nombre" required>
                <label for="" class="labelform">Nombre Instructor</label>
            </div>  

            <div class="inputContainer">
                <input type="text" class="inputform" placeholder="a" name="observacionesPrestamo" required>
                <label for="" class="labelform">Observaciones</label>
            </div>
            <div class="selectorimagen">
                <input type="file" accept="image/*" class="inputsubirfoto">
                <label for="soporte" class="labelsubirfoto">Firma Digital</label>
            </div>   
        </div>
            <div class="container-1">
            <div class="container-botones">
                <button type="submit" class="submitBtn" >GUARDAR</button>
                <button type="" class="submitBtn" >CANCELAR</button>
            
            </div>
            </div>
        </form>
        
    </div>  

    </section>

{% endblock %}
