{% extends '../superAdmin/basesuadmin.html' %}

{% load static %}
{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesFormElem.css' %}">
    <title>Prestamos</title>
    
</head>

    <section class="section">
        
        <!-- Inicio del Forumlario-->
    
        <h1>Lista de prestamos</h1>

        <div class="signupFrm">
           
            <table>
                <thead>
                    <tr>
                        <th>Fecha entrega</th>
                        <th>Fecha devolucion</th>
                        <th>Observaciones</th>
                        <th>Firma digital</th>

                    </tr>
                </thead>
                <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            <td>{{ prestamo.fechaEntrega }}</td>
                            <td>{{ prestamo.fechaDevolucion }}</td>
                            <td>{{ prestamo.observacionesPrestamo }}</td>
                            <td>{{ prestamo.numeroIdentificacion }}</td>
                            <td>{{ prestamo.inputsubirfoto }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
        </div>  
    </section> 
        
{% endblock %}